<!DOCTYPE html>
<html>
  <head>
    <title>Example Page</title>
    <link rel='stylesheet' href='/stylesheets/example.css' />
  </head>
  <body>
    <h1>Example Page</h1>
    <p>Welcome  <%= locals.username||'Guest' %></p>
    <script src="/javascripts/example.js"></script>
  </body>
</html>
